<div class="hareonna-main-content">
  <p class="hareonna-description"> 
    A hare-onna (晴れ女) is a lucky, sunny lady who brings 
    good weather where ever she goes.
  </p> 
  <%= image_tag("summer_people.jpg", class: "hareonna-image") %>
  <div class="attribution">
    <a href="http://www.freepik.com">Designed by Freepik</a>
  </div>
</div>
